.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thead {
  background-color: #5dc2e6;
  color: white;
  text-transform: uppercase;
}

.th {
  padding: 12px;
}

.evenRow {
  background-color: #f2f2f2;
}

.oddRow {
  background-color: #ffffff;
}

.td {
  padding: 10px;
  color: #4f4f4f;
}

.tr {
  border-bottom: 1px solid #ddd;
}

.hoverRow:hover {
  background-color: #e9f7fc;
  transition: background-color 0.2s ease-in-out;
}
